body {
  font-family: 'Josefin Sans', sans-serif !important;
}
h1 {
    vertical-align: text-bottom;
    color: #EF26C4;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.pAboutMe {
  vertical-align: text-bottom;
}

h2 {
  margin-top: 10px
    vertical-align: text-bottom;
    color: #FFFFFF !important;
    text-align: center;
}

h4 {
  color: #EF26C4 !important;
  text-align: right;
}
h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 120%
}
hr {
  margin-top: 0;
  margin-bottom: .25rem;
}
p {
  font-size: 100%
}

menu{
  padding: 0 !important;
  font-size: 15px;
  text-align: center;
}

.aboutMeData {
  text-align: center !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subText {
  text-align: center !important;
  margin-top: 15px;
  font-size: 25px;
}

.watchThisSpace {
  text-align: center !important;
  padding: 40px !important;
  background-color: #EF26C4;
  color: white;
}

.menuButton {
  background-color: #EF26C4
}

.icons{
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 15px;
  height: 80%;
  width: auto;
}


.bottomLine {
  border-bottom: 3px solid #EF26C4;
  border-bottom-width: 80%
}

.margin {
  margin: 2px;
}

.header{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: fixed;
  overflow: hidden;
  background:linear-gradient(to top, rgb(255,255,255,0), rgb(255,255,255,1), rgb(255,255,255));
  z-index: 100;
}

.background {
  background-color: white;
}

.menuPadding {
  padding-top: 10px;
}

.parentHorizontal {
  padding: 30px;
  max-width: 100vw;
  height: 100vw;
  max-height: 580px !important;
}

.childHorizontal {
  margin-top: 70px;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 90%;
}

.parentHorizontalExhibition {
    padding: 50px;
    max-width: 100vw;
    height: 100vw;
    max-height: 500px;
}

.childHorizontalExhibiton {
    margin-top: 70px;
    margin-bottom: 20px;
}

.exhibitionBox {
    width: 200px;
    height: auto;
    padding: 10px;
    margin-bottom: 500px;
    margin: 20px;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.inline{
  display: inline-block;
}
.box {
  padding-top: 45px;
  width: 400px;
  margin-bottom: 20px;
  margin: 20px;
  background-color: white;
}

.logo {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-botton: 50px;
  width: 40%;
}

/* unvisited link */
#menuBig a:link {
    color: #EF26C4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
    opacity: .85;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: -2px;
}

/* visited link */
#menuBig a:visited {
    color: #EF26C4;


}

/* mouse over link */
#menuBig a:hover, .menuBigHover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #EF26C4;
  color: #FFFFFF !important;
  text-decoration: none !important;
}


/* unvisited link */
#mobileView a:link {
    color: #EF26C4;
    background-color: white !important;
    padding: 0 !important;
}

/* visited link */
#mobileView a:visited {
    color: #EF26C4;
}

/* mouse over link */
#mobileView a:hover, .mobileViewHover {
  background: #EF26C4;
  color: #FFFFFF !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 576px) {
  .mobileHide {
    display:none;
  }
}

  @media only screen and (min-width: 576px) {
    .mobileView {
      display:none;
    }
}

.background {
  background-color: pink;
}

.slick-list {
    outline: none !important;
    border: none !important;
}

@media only screen and (max-width: 550px) {
body { font-size:70%; }
h1 { font-size:30px; }
.box { width: 200px; }

}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {transform: rotate(-180deg);}
}

.aboutMeImg{
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  max-width: 70%;
  max-height: 70%;
}

.mandalaCentered {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}

.littleMandalaCentered {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display:flex:
  float: none;
}

.btn-pink, .btn-pink:hover{
  background-color: #EF26C4;
  display: block;
  color: white;
  text-decoration: none !important;
}

.littleButton, .littleButton:hover {
  background-color: #EF26C4;
  display: block;
  color: white;
  text-decoration: none !important;
}

.cursor {
  cursor: pointer;
}

#myNavbar {
  padding: 0;
}

#cf {
  position:relative;
  padding: 40px;
}

#cf img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

.top {
  margin:auto;
  background-color: white;
  width: 180px;
  height: 180px;
  opacity: 1;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.bottom {
  width: 180px;
  height: 180px;
  margin:auto;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.imgPadding{
  margin-top: 120px;
}

.typePadding{
  margin-top: 30px;
}
